@import url(https://fonts.googleapis.com/css?family=Montserrat:100,400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Orbitron&display=swap);

html, body {
  margin: 0;
  padding: 0;
  font-family: Orbitron;
  font-size: 3.2vh;
  text-transform: uppercase;
  font-weight: 100;
  background-color: #222;
  color: white;
  width: 100%;
  height: 100%;
}

img {
  height: 30vh;
  width: auto;
}

html .content, body .content {
  text-align: center;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -44%) scale(1.2, 1.2);
}

.title {
  font-family: "Montserrat", Orbitron;
  font-weight: 100;
}

html .content span, body .content span {
  width: 50px;
  display: inline-block;
  text-align: center;
  transform: scale(.85, 1);
}

.random {
  height: 1.25em;
}

.amount {
  padding-top: 1.06vh;
  padding-bottom: 3.2vh;
}

input[type=number] {
  width: 4ch;
  max-width: 100%;
}

/* line.start {
  position: absolute;
  top: 0;
  left: 0;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: line 2s ease forwards;
}

 svg {
  padding-bottom: 16px;
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
} */

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 3.5vw;
  }

  img {
    height: auto;
    width: 80vw;
  }

  html .content span, body .content span {
    width: 9vw;
  }
}
