@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap');

body {
  font-family: 'Bebas Neue', 'Noto Sans HK', cursive;
  background-color: #333333;
  color: #aaaaaa;
  font-size: 3vh;
  letter-spacing: 0.2ch;
  margin: 15vh 8vw 5vh;
}

#radar {
  display: absolute;
  float: right;
  width: auto;
  height: 28vh;
  border-radius: 50%;
  filter: brightness(1.4) contrast(1.3) drop-shadow(4px 4px 10px #181818);
  margin: 1vh 3vw 3vh 5vw;
}

.data {
  color: gray;
}

.blur {
  filter: blur(1vh);
}

.blur:hover {
  cursor: pointer;
}
